<%- include('start'); -%>
<section class="about">
    <div id="temp">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
        
                    <a class="nav-link navtype" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navtype" href="/about">About us</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navtype" href="/contact">Reach us</a>
                  </li>
              </div>
            </div>
          </nav>   
          <div class="container" style="background-color: rgb(252, 241, 225);">
              <div class="row">
                  <div class="col col-lg-12 d-flex justify-content-center py-2">
                      <h1 style="font-family: 'STIX Two Text', serif; font-size: 3rem;">Cook with cookit</h1>
                  </div>
                  <div class="col col-lg-12 d-flex justify-content-center">
                      <div class="container d-flex justify-content-center pb-3" align="center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare dolor ac odio feugiat ornare. Sed euismod tellus nec commodo suscipit. Quisque commodo, augue eu molestie suscipit, orci massa aliquet ex, eget laoreet sem mauris nec diam. Duis eget nibh est. Vivamus semper eget enim sed blandit. Curabitur massa mi, posuere nec orci in, porttitor condimentum nisl. Vivamus quis velit vitae nulla facilisis efficitur nec porttitor velit. In ut lacus in neque accumsan suscipit. Sed convallis volutpat ante, interdum aliquam nisi suscipit vitae. Aenean diam metus, elementum ac eleifend eu, egestas in sem. Aliquam pharetra, lacus a ullamcorper aliquam, arcu velit congue massa, pharetra suscipit turpis lorem sit amet sem. Nullam lobortis, urna dictum luctus ultricies, erat nisl ultricies est, id ultrices nisi mauris mollis arcu. Phasellus sit amet odio sit amet metus ultrices aliquet. Nam dapibus metus mauris, vitae venenatis nunc finibus et.

                        Nulla vitae volutpat est, pellentesque fermentum nibh. Donec odio elit, fermentum sed mattis at, vehicula ut est. Sed tortor ante, vestibulum et commodo ut, convallis vel diam. Nulla ultricies lorem in urna varius viverra. Duis convallis vestibulum ex, at euismod lorem volutpat a. Ut ultricies, urna nec tempor laoreet, erat est efficitur odio, et eleifend nulla ante non metus. Nullam lectus odio, commodo ac suscipit eleifend, ornare non ligula. Donec dictum aliquam dolor id rhoncus. Fusce pellentesque volutpat ante, eget sodales nisi varius euismod. Aenean blandit dignissim nibh, nec ultrices sapien tincidunt et. Maecenas tincidunt elementum dui, at pretium felis luctus in. Praesent et felis ipsum. Aenean et ornare arcu. Curabitur lorem metus, tincidunt ut sem vitae, lobortis iaculis enim. Integer risus ex, rutrum at nisi sed, lobortis pellentesque ex. Ut faucibus lacinia magna ut ultrices.
                        
                        Vivamus suscipit sem non blandit mattis. Proin sit amet sem ut turpis bibendum mollis. Nam rhoncus vitae turpis eu scelerisque. Vestibulum in euismod nulla. Cras pretium lacus vitae enim tempor volutpat in sit amet ligula. Nullam elementum volutpat tellus nec sollicitudin. Donec consequat ultrices odio, in dictum dolor condimentum id. Cras sapien sem, aliquet quis magna at, vehicula aliquam lacus. Etiam pretium tellus ac ex congue faucibus. Morbi tempus dapibus sapien non feugiat. Phasellus et egestas dui. Vivamus aliquam purus eu neque luctus rhoncus in id mauris. Nulla facilisi. Mauris lacinia, risus a blandit hendrerit, elit odio tempus nulla, in varius purus mi in risus. Nullam porta purus nisi, vitae egestas nisi egestas sit amet.                      </div>
                  </div>
              </div>
          </div>
    </div>
</section>


<%- include('end'); -%>