<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    
  <div class="container" id="main">
    
   
      <section class='main2'>
        <div class="container" id='main2' align="left">
            <div class="row d-flex justify-content-left">
              <div class="col col-lg-6" id='a'>
               <h1>
                Let's cook our stress away! Cook with Cookit
               </h1>
               <div class="container" align="left" style="padding-left: 0; padding-top: 17px;">
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum a aspernatur repellat harum, rem in iure ipsam possimus modi cumque natus corporis, magnam fuga. Dolores consequuntur consequatur quae blanditiis quis!
               </div> 
             <div class="button container" style="padding-left: 0px; padding-top: 17px;">
                <button type="button" class="btn btn-dark" style="margin-right:6px;" data-bs-toggle="modal" data-bs-target="#exampleModal" id="login">Sign in</button>
                <button type="button" class="btn btn-dark"data-bs-toggle="modal" data-bs-target="#addMyModal">Sign up</button>
             </div>
            </div>
            <div class="col col-lg-6">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" >
                      <div class="carousel-item active" data-bs-interval="2000">
                        <img src="/images/1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/2.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/3.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/4.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/5.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/6.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
              </div>
    
             </div>
              
            </div>
            
            <div class="container">
              <img src="/images/hel.png" alt="" srcset="" width="300px" style="position:absolute; left: -13% ;"
              height="250px">
            </div>     
     
      </div>
     
      
     
      </section>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 100px;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"><i class="fa fa-envelope" aria-hidden="true"></i> Email address:</label>
                      <input type="email" class="form-control" name="email" placeholder="Enter your email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label"><i class="fa fa-key" aria-hidden="true"></i> Password:</label>
                      <input type="password" class="form-control" name="password"  placeholder="Enter your password">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-dark my-3">Submit</button>
                     </div>
                  </form>
            </div>
           
          </div>
        </div>
      </div>
      </div>
      <!-- Button trigger modal -->
      
<!-- Modal -->
<div class="modal fade" id="addMyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 100px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form role="form" id="newModalForm">
          <div class="form-group">
            <label class="control-label col-md-3" for="username"><i class="fa fa-user" aria-hidden="true"></i> Username: </label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="pName" name="pName" placeholder="Enter username" require/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email: </label>
            <div class="col-md-9">
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" require>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" for="password"><i class="fa fa-key" aria-hidden="true"></i> Password: </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" require>
            </div>
          </div>
         <div class="form-group">
          <button type="submit" class="btn btn-dark my-3">Submit</button>
         </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
</div>
<%- include('end'); -%>