<%- include('start'); -%>
    
  <div class="container" id="main">
    
   
      <section class='main2'>
        <div class="container" id='main2' align="left">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Cookit</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/recipes">Recipes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Reach us</a>
                  </li>
               
                </ul>
               
              </div>
            </div>
          </nav>
            <div class="row d-flex justify-content-left">
              <div class="col col-lg-6" id='a'>
               <h1>
                Let's cook our stress away! Cook with Cookit
               </h1>
               <div class="container" align="left" style="padding-left: 0; padding-top: 17px;">
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum a aspernatur repellat harum, rem in iure ipsam possimus modi cumque natus corporis, magnam fuga. Dolores consequuntur consequatur quae blanditiis quis!
               </div> 
             <div class="button container" style="padding-left: 0px; padding-top: 17px;">
               <a href="/login"><button type="button" class="btn btn-dark">Sign in</button></a>
               <a href="/register"><button type="button" class="btn btn-dark">Sign up</button></a>
             </div>
            </div>
            <div class="col col-lg-6">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" >
                      <div class="carousel-item active" data-bs-interval="2000">
                        <img src="/images/1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/2.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/3.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/4.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/5.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/6.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
              </div>
    
             </div>
              
            </div>
            
            <div class="container">
              <img src="/images/hel.png" alt="" srcset="" width="300px" style="position:absolute; left: -13% ;"
              height="250px">
            </div>     
     
      </div>
     
      
     
      </section>
 
<%- include('end'); -%>