html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body
{
    background: url('/images/cover.jpg') no-repeat center fixed;
    

}
#main 
{
    background-color: white;
    height: 600px;
    width:80%;
    position: relative;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 5%; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.carousel .carousel-item {
    height: 350px;
    width: 600px;


  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
   
      height: 350px;
    width: 600px;
  }
.carousel
{
    border: 1px solid brown;
    width: 600px;
    float: right;
    
    margin-right: -94px;
    margin-top: 10%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    display: block;
} 
#a
{
  padding-top: 50px;
}
.modal-content
{
  background-color: burlywood;
}

.modal-body{ 
  background-color: rgb(238, 138, 138) !important; 
}
.modal-content
{
  background-color: rgb(238, 138, 138) !important;
}

.dish
{
  background-color: burlywood !important;
  box-shadow: 0 7px 17px rgba(236, 199, 77, 0.8);
  border: 2px solid black;
}
.dish:hover
{
  box-shadow: 0 7px 17px rgba(235, 99, 45, 0.8);
}
.alldishes
{
  border: 1px solid black;
  width: 100%;
  height: 300%;
}

#temp
{
  background-color: white;
    height: auto;
    width:80%;
    position: relative;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 5%; 
    padding-bottom: 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  
}
.mydish
{
  border: 1px solid black;
  height: 380px;
  background: url('/images/heading.jpg') no-repeat center center/cover;
  color: white;
}

.mydish h1
{
  font-size: 4rem;
  text-shadow: 3px 3px 3px #ababab;
  font-family: "Sofia", sans-serif;
}

.cook
{
  background-color: rgb(245, 234, 219);
}
.head
{
  background-color: black;
  width: 330px;
  position: relative;
  top: 100px;
  display: block;
  margin: auto;
  height: 100px;
  color: white;
  box-shadow: 0 5px 15px red;
}
.head:before
{
  content: '';
    background-color: white;
    height: 100px;
    position: absolute;
    width: 4px;
    right: 3px;
    bottom:100px
    
}
.head:after
{
  content: '';
    background-color: white;
    height: 100px;
    position: absolute;
    width: 4px;
    left: 3px;
    bottom:100px
    
}
.dots
{
  height: 7px;
  width: 7px;
  background-color: white;
  border-radius: 50%;
}
.dot-l
{
  position: absolute;
  left: 2px;
  top: 3px;
}
.dot-r
{
  position: absolute;
  right: 2px;
  top: 3px;
}
.type
{
  position: relative;
  top:12px;
 
  background-image: linear-gradient(rgb(245, 94, 94), rgb(250, 250, 135));
}
.mytype
{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;

  border: 2px solid black;
  box-shadow: 0 5px 15px brown;
}
.mytype:hover
{
  background-image: linear-gradient(rgb(94, 222, 245), rgb(223, 135, 250));
}
.type form img
{
  border-radius: 5%;
  border: 1px solid #ddd;
  padding: 5px;
  background-image: linear-gradient(rgb(8, 8, 8), rgb(255, 255, 255));
  height: 200px;
  width: 350px;
  box-sizing: border-box;
}
.mytype p
{
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}
.navtype
{
  font-size: 1.5rem;

}
.a1
{
  position: relative; 
  margin-left: 48%; 
}
.a2
{

  width: 500px;
  font-family: 'MonteCarlo', cursive;
  font-weight: bold;
  font-size: 1.8rem;
  position: relative;
  bottom: 6%;
  
}
.rod
{
  border: 5px dotted black;
  height: 300px;
  width: 700px;
  padding-top: 5px;
}
.rectype 
{
  padding-right: 8px;
  font-size: 1.2rem;
}
.rectype a:hover
{
  background-color: red;
  border-radius: 3px;
}
.f 
{
  margin: 14px 14px;
  padding-top: 14px;
  background-image: linear-gradient(rgb(182, 179, 179), rgb(255, 255, 255));
  box-shadow: 0 5px 15px rgba(233, 126, 126, 0.8);
  padding-bottom: 14px;

}
.recipe
{
  background-color: white;
  width: 100%;
}

.slide
{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  padding: 34px 0px;

}
/* .slide
{
  position: relative;
  bottom: 6px;
} */

hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
.a-1
{
  opacity: 0;
}
.animate__animated
{
  opacity: 1;
}